.container-categorie {
    width: 30vw;
}

.categorie {
    margin: 20px;
    background-color: transparent;
    border-radius: 17px;
    
}

.categorie:hover {
    background-color: #2f247269;
}

.categoria {
    color: rgb(75, 71, 88);
    font-size: 20px;
}

.categoria:hover {
    color: #fff;
}