.footer {
    background-color: #000000;
    padding: 20px 0  !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0 !important;
    color: #fff;
}